body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Curier, monospace, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to left, #8358a9, #b95e84, #c17b6c, #b59b76, #acb49a);
}

button {
  cursor: pointer;
}